<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="priv.cx.carl.ssm.dao.UserDao">

	<select id="login" resultType="priv.cx.carl.ssm.pojo.User">
		select * from ssm_user
		where username = #{username} and password = #{password}
	</select>

</mapper>