<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jaxws="http://cxf.apache.org/jaxws"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
		http://cxf.apache.org/jaxws 
		http://cxf.apache.org/schemas/jaxws.xsd">

	<!-- 引cxf的一些核心配置 -->
	<import resource="classpath:META-INF/cxf/cxf.xml" />

	<jaxws:endpoint id="orderWS" implementor="priv.cx.carl.ws.OrderWSImpl"
		address="/order">
		<jaxws:inInterceptors>
			<bean class="priv.cx.carl.interceptor.CheckUserInterceptor"></bean>
		</jaxws:inInterceptors>
	</jaxws:endpoint>

</beans>
